<div style="margin-left: auto; margin-right: auto">
  <p id="categoryFeedback"></p>
</div>
<div>
  <h1>{{ "categoryForm.h1" | translate }}</h1>
  <form
    *ngIf="categoryForm"
    [formGroup]="categoryForm"
    (ngSubmit)="saveCategory()"
  >
    <div>
      <label for="title">{{ "categoryForm.title" | translate }}</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">
            {{ "categoryForm.title_required" | translate }}
          </div>

          <div *ngIf="title.errors.maxlength">
            {{ "categoryForm.title_maxlength" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{
        "categoryForm.description" | translate
      }}</label>
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">
            {{ "categoryForm.description_required" | translate }}
          </div>

          <div *ngIf="description.errors.maxlength">
            {{ "categoryForm.description_maxlength" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{
        "categoryForm.css_color" | translate
      }}</label>
      <input type="text" [formControl]="css_color" />

      <div *ngIf="css_color.errors">
        <div
          *ngIf="css_color.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="css_color.errors.required">
            {{ "categoryForm.css_color_required" | translate }}
          </div>

          <div *ngIf="css_color.errors.maxlength">
            {{ "categoryForm.css_color_maxlength" | translate }}
          </div>
        </div>
      </div>
    </div>

    <button type="submit">{{ "categoryForm.save" | translate }}</button>
  </form>
</div>
