<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div>
  <h1>{{ "register.register" | translate }}</h1>

  <!-- TODO 18 -->

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="name">{{ "register.name" | translate }} </label>
      <input type="text" [formControl]="name" />
      <div
        *ngIf="name.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="name.errors.required">
          {{ "register.nameRequired" | translate }}
        </div>
        <div *ngIf="name.errors.minlength">
          {{ "register.nameMinlength" | translate }}
        </div>
        <div *ngIf="name.errors.maxlength">
          {{ "register.nameMaxlength" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="surname1">{{ "register.surname1" | translate }} </label>
      <input type="text" [formControl]="surname_1" />
      <div
        *ngIf="surname_1.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="surname_1.errors.required">
          {{ "register.surname1Required" | translate }}
        </div>
        <div *ngIf="surname_1.errors.minlength">
          {{ "register.surname1Minlength" | translate }}
        </div>
        <div *ngIf="surname_1.errors.maxlength">
          {{ "register.surname1Maxlength" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="surname2">{{ "register.surname2" | translate }} </label>
      <input type="text" [formControl]="surname_2" />
      <div
        *ngIf="surname_2.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="surname_2.errors.minlength">
          {{ "register.surname2Minlength" | translate }}
        </div>
        <div *ngIf="surname_2.errors.maxlength">
          {{ "register.surname2Maxlength" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="alias">{{ "register.alias" | translate }} </label>
      <input type="text" [formControl]="alias" />
      <div
        *ngIf="alias.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="alias.errors.required">
          {{ "register.aliaRequired" | translate }}
        </div>
        <div *ngIf="alias.errors.minlength">
          {{ "register.aliasMinlength" | translate }}
        </div>
        <div *ngIf="alias.errors.maxlength">
          {{ "register.aliasMaxlangth" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="birthDate">{{ "register.birthDate" | translate }} </label>
      <input type="date" [formControl]="birth_date" />
      <div
        *ngIf="birth_date.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="birth_date.errors.required">
          {{ "register.birthDateRequired" | translate }}
        </div>
      </div>
    </div>
    <div>
      <label for="email">{{ "register.email" | translate }} </label>
      <input type="email" [formControl]="email" />
      <div
        *ngIf="email.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="email.errors.required">
          {{ "register.emailRequired" | translate }}
        </div>
        <div *ngIf="email.errors.pattern">
          {{ "register.emailPattern" | translate }}
        </div>
        <span *ngIf="email.errors.invalidKeyWord">{{
          "register.emailReserved" | translate
        }}</span>
      </div>
    </div>

    <div>
      <label for="password">{{ "register.password" | translate }} </label>
      <input type="password" [formControl]="password" />
      <div
        *ngIf="password.errors && isValidForm != null && !isValidForm"
        [ngClass]="'error'"
      >
        <div *ngIf="password.errors.required">
          {{ "register.passwordRequired" | translate }}
        </div>
        <div *ngIf="password.errors.minlength">
          {{ "register.passwordMinlength" | translate }}
        </div>
        <div *ngIf="password.errors.maxlength">
          {{ "register.passwordMaxlength" | translate }}
        </div>
      </div>
    </div>

    <button type="submit">{{ "register.joinNow" | translate }}</button>
  </form>
</div>
