<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div
  *ngIf="showNoAuthSection"
  style="display: flex; justify-content: space-between; max-width: 500px"
>
  <div>
    <button (click)="home()">Home</button>
    <button (click)="login()">Login</button>
    <button (click)="register()">Register</button>
  </div>
  <div>
    <a routerLink="/dashboard">Dashboard</a>
  </div>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="home()">Home</button>
  <button (click)="adminPosts()">Admin posts</button>
  <button (click)="adminCategories()">Admin categories</button>
  <button (click)="profile()">Profile</button>
  <button (click)="logout()">Logout</button>
</div>
