<!-- LANGUAGE DROPDOWN -->
<div class="div-drop">
  <p>{{ "header.headerWorks" | translate }}</p>
  <div class="language-dropdown">
    <a
      (click)="languageService.setLanguage('en')"
      class="{{ languageService.currentLanguage === 'en' ? 'active' : '' }}"
      >English</a
    >
    <a
      (click)="languageService.setLanguage('es')"
      class="{{ languageService.currentLanguage === 'es' ? 'active' : '' }}"
      >Español</a
    >
  </div>
</div>

<!-- NO AUTH REQUIRED -->
<div class="auth-required" *ngIf="showNoAuthSection">
  <div>
    <button (click)="home()">{{ "header.home" | translate }}</button>
    <button (click)="login()">{{ "header.login" | translate }}</button>
    <button (click)="register()">{{ "header.register" | translate }}</button>
  </div>
  <div>
    <a class="dashboard" routerLink="/dashboard">{{
      "header.dashboard" | translate
    }}</a>
  </div>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="home()">{{ "header.home" | translate }}</button>
  <button (click)="adminPosts()">{{ "header.adminPosts" | translate }}</button>
  <button (click)="adminCategories()">
    {{ "header.adminCategories" | translate }}
  </button>
  <button (click)="profile()">{{ "header.profile" | translate }}</button>
  <button (click)="logout()">{{ "header.logout" | translate }}</button>
</div>
