<!-- TODO 3 -->
<h2>List All Posts</h2>

<section
  *ngFor="let post of posts"
  style="
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    max-width: 500px;
  "
>
  <!-- <div
    style="
      background-color: black;
      width: 40px;
      height: 40px;
      margin-right: auto;
      margin-left: auto;
    "
  >
    {{ post.categories }}
  </div> -->
  <div
    *ngFor="let category of post.categories"
    [ngStyle]="{ 'background-color': category.css_color }"
    style="
      width: 80px;
      height: 20px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
    "
  >
    {{ category.title }}
  </div>

  <p style="font-weight: bold">Title: {{ post.title }}</p>
  <p>Likes: {{ post.num_likes }}</p>
  <p>Dislikes: {{ post.num_dislikes }}</p>
  <p>Publication date: {{ post.publication_date }}</p>
  <p>Published by: {{ post.userId }}</p>
  <button (click)="like(post.postId)">Like</button>
  <button (click)="dislike(post.postId)">Dislike</button>
</section>
