<h2>{{ "postList.title" | translate }}</h2>

<!-- TODO 11 -->
<button (click)="createPost()">{{ "postList.add" | translate }}</button>

<table>
  <thead>
    <tr>
      <th>{{ "postList.id" | translate }}</th>
      <th>{{ "postList.titleHeader" | translate }}</th>
      <th>{{ "postList.description" | translate }}</th>
      <th>{{ "postList.numLikes" | translate }}</th>
      <th>{{ "postList.numDislikes" | translate }}</th>
      <th>{{ "postList.actions" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.postId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.num_likes }}</td>
      <td>{{ post.num_dislikes }}</td>
      <td>
        <button (click)="updatePost(post.postId)">
          {{ "postList.update" | translate }}
        </button>
        <button (click)="deletePost(post.postId)">
          {{ "postList.delete" | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
