<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>
<div>
  <!-- TODO 14 -->
  <h1>{{ "postForm.postForm" | translate }}</h1>
  <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="savePost()">
    <div>
      <label for="title">{{ "postForm.title.label" | translate }}</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">
            {{ "postForm.title.requiredError" | translate }}
          </div>

          <div *ngIf="title.errors.maxlength">
            {{ "postForm.title.maxLengthError" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="description">{{
        "postForm.description.label" | translate
      }}</label>
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">
            {{ "postForm.description.requiredError" | translate }}
          </div>

          <div *ngIf="description.errors.maxlength">
            {{ "postForm.description.maxLengthError" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label for="publication_date">{{
        "postForm.publication_date.label" | translate
      }}</label>
      <input type="date" [formControl]="publication_date" />

      <div *ngIf="publication_date.errors">
        <div
          *ngIf="publication_date.errors && isValidForm != null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="publication_date.errors.required">
            {{ "postForm.publication_date.requiredError" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <label>{{ "postForm.category.label" | translate }}</label>
      <select formControlName="selectedCategories" multiple>
        <option
          *ngFor="let category of allCategories"
          [value]="category.categoryId"
        >
          {{ category.title }}
        </option>
      </select>
    </div>

    <button type="submit">{{ "postForm.submit" | translate }}</button>
  </form>
</div>
