<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>{{ "login.title" | translate }}</h1>

  <!-- TODO 21 -->
  <form [formGroup]="loginForm" (ngSubmit)="login(); formSubmitted = true">
    <div>
      <label for="email">{{ "login.emailLabel" | translate }} </label>
      <input type="email" [formControl]="email" />
      <div *ngIf="formSubmitted && email.errors" [ngClass]="'error'">
        <div *ngIf="email.errors.required">
          {{ "login.emailRequiredError" | translate }}
        </div>
        <div *ngIf="email.errors.pattern">
          {{ "login.emailFormatError" | translate }}
        </div>
        <span *ngIf="email.errors.invalidKeyWord">{{
          "login.emailKeywordError" | translate
        }}</span>
      </div>
    </div>

    <div>
      <label>{{ "login.passwordLabel" | translate }} </label>
      <input type="password" [formControl]="password" />
      <div *ngIf="formSubmitted && password.errors" [ngClass]="'error'">
        <div *ngIf="password.errors.required">
          {{ "login.passwordRequiredError" | translate }}
        </div>
        <div *ngIf="password.errors.minlength">
          {{ "login.passwordMinLengthError" | translate }}
        </div>
        <div *ngIf="password.errors.maxlength">
          {{ "login.passwordMaxLengthError" | translate }}
        </div>
      </div>
    </div>

    <button type="submit">{{ "login.joinButton" | translate }}</button>
  </form>
</div>
